html{
	font-family:calibri;
	color:white;
}

body{
	background: #7d7e7d;

}

table {
	border:0px;
	padding:5px;
	border-spacing: 5px;
	width: 100%;
	
	background: #70001d;
}

table th {
	border:0px;
	padding:5px;
	background: #aaaaaa;

}

a {
	color: white;
	clickable: true;
}

table td {
	border:0px;
	padding:5px;
	width: 20%;
	background: #a90329;
	
}

.visible{
	visibility:visible;
}

.invisible{
	visibility:hidden;
}

#loginDiv{
    position:absolute;
    z-index:300;
    right:0;
    top:0;
}

#menu{
	width:200px;
	position:absolute;
    z-index:300;
    right:0;
    top:0;
}

#subMenu{
	width:105px;
	position:absolute;
    z-index:300;
    right:200px;
    top:0px;
}

.imageDiv{
	height:11px;
	width:11px;
	background-color:none;
	background-image:none;
	margin-left:7px;
	border:none;
}

#ClassNameField{
	width:250px;
}

#ButtonField{
	width:50px;
}

#StatusField{
	width:50px;
}

.arrowUp{
	background-image:url(arrowUp.png);

}

.arrowDown{
	background-image:url(arrowDown.png);

}

.arrowUp{
	background-image:url(../images/arrowUp.png);
	border:none;

}

.arrowDown{
	background-image:url(../images/arrowDown.png);
	border:none;

}

.odd {
	background-color: #a90329;
}
.even {
	background-color: #199399;
}
